<div class="card m-3">
    <div class="card-header">
        <i class="fa-solid fa-user-doctor"></i>
        {{this.nombre_componente}}
    </div>
    <div class="card-body">
        <div class="table-responsive-md">
            <table class="table text-center">
                <thead class="table-primary">
                    <tr>
                        <th scope="col">Cedula</th>
                        <th scope="col">Nombres</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Editar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <td scope="row">99999999</td>
                        <td>Lucas Vera Audy Wagner</td>
                        <td>
                            <small class="btn btn-danger btn-sm">
                                Pendiente
                            </small>
                        </td>
                        <td>
                            <!--Editar-->
                            <a href="">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                        </td>

                    </tr>

                    <tr class="">
                        <td scope="row">99999999</td>
                        <td>Lucas Vera Audy Wagner</td>
                        <td>
                            <small class="btn btn-success btn-sm">
                                Activo
                            </small>
                        </td>
                        <td>
                            <!--Editar-->
                            <a href="">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>