<div class="row justify-content-center bg-secondary vh-100">
    <div class="col-lg-7">
        <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-header"><h3 class="text-center font-weight-light my-4">Registro de Usuarios</h3></div>
            <div class="card-body">
                <div class="row mb-4">
                    <button type="button" class="btn btn-white border">
                        <svg class="mx-2" width="20px" height="20px" viewBox="-3 0 262 262"
                            xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid"
                            fill="#000000" stroke="#000000">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <path
                                    d="M255.878 133.451c0-10.734-.871-18.567-2.756-26.69H130.55v48.448h71.947c-1.45 12.04-9.283 30.172-26.69 42.356l-.244 1.622 38.755 30.023 2.685.268c24.659-22.774 38.875-56.282 38.875-96.027"
                                    fill="#4285F4"></path>
                                <path
                                    d="M130.55 261.1c35.248 0 64.839-11.605 86.453-31.622l-41.196-31.913c-11.024 7.688-25.82 13.055-45.257 13.055-34.523 0-63.824-22.773-74.269-54.25l-1.531.13-40.298 31.187-.527 1.465C35.393 231.798 79.49 261.1 130.55 261.1"
                                    fill="#34A853"></path>
                                <path
                                    d="M56.281 156.37c-2.756-8.123-4.351-16.827-4.351-25.82 0-8.994 1.595-17.697 4.206-25.82l-.073-1.73L15.26 71.312l-1.335.635C5.077 89.644 0 109.517 0 130.55s5.077 40.905 13.925 58.602l42.356-32.782"
                                    fill="#FBBC05"></path>
                                <path
                                    d="M130.55 50.479c24.514 0 41.05 10.589 50.479 19.438l36.844-35.974C195.245 12.91 165.798 0 130.55 0 79.49 0 35.393 29.301 13.925 71.947l42.211 32.783c10.59-31.477 39.891-54.251 74.414-54.251"
                                    fill="#EB4335"></path>
                            </g>
                        </svg>
                        Regístrate con Google
                    </button>
                </div>
                <form [formGroup]="miFormulario" (submit)="onSubmit()">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-floating mb-3 mb-md-0">
                                <input 
                                class="form-control {{getControlClass('cedula')}}"
                                formControlName="cedula" id="inputNoCedula" type="text" placeholder="Enter your first name" required>
                                <label for="inputNoCedula">No. Cedula</label>
                                
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input formControlName="fecha_nacimiento" class="form-control" id="inputFechaNacimiento" type="date" placeholder="Enter your last name">
                                <label for="inputFechaNacimiento">Fecha Nacimiento</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-floating mb-3 mb-md-0">
                                <input formControlName="nombres" class="form-control" id="inputFirstName" type="text" placeholder="Enter your first name">
                                <label for="inputFirstName">Nombres</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input formControlName="apellidos" class="form-control" id="inputLastName" type="text" placeholder="Enter your last name">
                                <label for="inputLastName">Apellidos</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input formControlName="email" class="form-control" id="inputEmail" type="email" placeholder="name@example.com">
                        <label for="inputEmail">Email</label>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-floating mb-3 mb-md-0">
                                <input formControlName="password" class="form-control" id="inputPassword" type="password" placeholder="Create a password">
                                <label for="inputPassword">Password</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3 mb-md-0">
                                <input formControlName="confirm_password" class="form-control" id="inputPasswordConfirm" type="password" placeholder="Confirm password">
                                <label for="inputPasswordConfirm">Confirm Password</label>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 mb-0">
                        <div class="d-grid"><button class="btn btn-primary btn-block" href="login.html">Create Account</button></div>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center py-3">
                <div class="small"><a href="/login">Have an account? Go to login</a></div>
            </div>
        </div>
    </div>
</div>
