<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-4">Login</h3>
                            </div>
                            <div class="card-body">
                                <div class="row my-2">
                                    <button (click)="loginGoogle()" type="button" class="btn btn-white border">
                                        <img src="assets/img/logo-google.svg" alt="">
                                        Accede con Google
                                    </button>
                                </div>
                                <form [formGroup]="userForm" (ngSubmit)="login()">
                                    <div class="form-floating mb-3">
                                        <input formControlName="usuario" class="form-control" id="inputEmail"
                                            type="email" placeholder="name@example.com" />
                                        <label for="inputEmail">Email address</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input formControlName="clave" class="form-control" id="inputPassword"
                                            type="password" placeholder="Password" />
                                        <label for="inputPassword">Password</label>
                                    </div>
                                    <div class="form-check mb-3">
                                        <input class="form-check-input" [formControl]="this.check_remember" id="inputRememberPassword" type="checkbox"
                                            value="" />
                                        <label class="form-check-label" for="inputRememberPassword">
                                            Remember me
                                        </label>
                                    </div>
                                    <div class="row">

                                        <button [disabled]="!userForm.valid" class="btn btn-primary">Login</button>
                                        <a class="small" href="password.html">Forgot Password?</a>
                                    </div>

                                </form>
                            </div>
                            <div class="card-footer row py-3">









                                <div class="small"><a routerLink="/register">Need an account? Sign up!</a></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div id="layoutAuthentication_footer">
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2023</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

{{this.data_google}}